@use './variables' as v;
@use './mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    min-height: 100%;
    @include m.tablet{
        height: 100%;//este media query es para que cuando hallan muchas citas en el panel de administracion la iagen del barbero no tome todo el espacio disponible cuando hallas demasiado citas
    }
    display: flex;
    flex-direction: column;
    background-color: v.$negro;
    color: v.$blanco;
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.nombree{
    p{
        font-weight: v.$fuente_principal;
        text-align: center;
    }
}
